* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 100px 0 100px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(47, 47, 47, 0.5);
}

.logo img {
    width: 100px;
    height: auto;
    margin-left: 200px;
}

.pesquisa {
    display: flex;
    align-items: center;
    border: 1px solid rgba(169, 169, 169, 0.852);
    border-radius: 50px;
    padding: 7px 12px;
    background-color: white;
    margin-left: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.489);
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: normal;
    margin-right: 10px;
    color: #3a3a3a;
    cursor: pointer;
}

.hospedes {
    color: rgba(95, 95, 95, 0.765);
}

.dividir {
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(159, 159, 159, 0.648);
    height: 19px;
    width: 1px;
}

.pesquisaBotao {
    display: flex;
    border-radius: 50px;
    border: none;
    background-color: red;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}

.pesquisaBotao svg {
    width: 12px;
    height: 12px;
    color: white;
}

.anuncie {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anuncie h1 {
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    
}

.conta,
.perfil-foto,
.menu,
.internet {
    background-color: transparent;
    border: none;
    outline: none;

}

.internet {
    width: 30px;
    height: auto;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.conta {
    display: flex;
    align-items: center;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 50px;
    padding: 7px 7px;
    margin-right: 300px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.489);
}

.perfil-foto svg {
    width: 30px;
    height: auto;
    margin-right: 5px;
    color: rgb(120, 120, 120)
}

.menu svg {
    width: 20px;
    height: auto;
    margin-left: 5px;
    color: rgb(120, 120, 120)
}

.imagenss {
    padding: 20px 400px 0 300px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.treine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treine h1 {
    justify-content: space-between;
    font-size: 22px;
}

.compartilhar {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-left: 700px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.compartilhar:hover {
    background-color: rgba(232, 232, 232, 0.758);
}

.compartilhar a {
    color: black;
    margin-left: 8px;
}

.salvar {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.salvar:hover {

    background-color: rgba(232, 232, 232, 0.758);
}

.salvar a {
    color: black;
    margin-left: 8px;
}

.images {
    display: grid;
    gap: 8px;
    position: relative;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 260px 260px;
    margin-top: 15px;
    border-radius: 12px;
    overflow: hidden;
}

.images picture:first-child {
    grid-row: 1 / 3;
}

.images picture {
    overflow: hidden;
}

.images picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.images picture:hover img {
    scale: 1.4;
}

.mostrarMais {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.mostrarMais svg {
    display: flex;
    width: 17px;
    height: auto;
    margin-right: 7px;
    align-items: center;
    justify-content: center;
}

.mostrarMais a {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.descricao {
    padding: 0px 565px 0px 0px;
    margin: 25px 300px;
    align-items: center;
}

.descricao h1 {
    font-size: 20px;
}

.descricao h3 {
    font-size: 16px;
    font-weight: normal;
}

.estrelas {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.estrelas h2 {
    font-size: 17px;
    margin-left: 6px;
}

.estrelas span {
    margin-left: 4px;
}

.estrelas a {
    color: black;
    margin-left: 4px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.divisor {
    margin-top: 30px;
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 700px;
}

.anfitria {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.anfitria img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nomeAnfitria h1 {
    margin-left:20px;
    font-size: 16px;
}

.nomeAnfitria a {
    margin-left: 20px;
    font-size: 13px;
}
.divisor {
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 700px;
}

.description {
    margin-top: 24px;
    align-items: center;
}

.curtaImg,
.salaImg,
.tenteImg,
.exploreImg {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.curtaImg svg,
.salaImg svg,
.tenteImg svg,
.exploreImg svg {
    width: 15px;
    margin-bottom: 6px;
}

.curta h1,
.sala h1,
.tente h1,
.explore h1 {
    font-size: 15px;
    margin-left: 15px;
}

.curta a,
.sala a,
.tente a,
.explore a {
    font-size: 14px;
    margin-left: 15px;
}

.divisor {
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 700px;
}

.descricaoCompleta{
    padding:30px 0px; 
    align-items: center;
}
.exibirOriginal {
    justify-content: center;
    align-items: center;
    border: 15px solid #ececec;
    border-radius: 10px;
    background-color: #ececec;
}

.exibirOriginal a {
    color: black;
}

.atividades {
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
}

.first,
.secund,
.third,
.listados {
    padding: 15px 0px;
    font-size: 15px;
}

.listados li {
    padding: 8px;
}

.divisor1 {
    margin:0;
    margin-top: -40px;
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 700px;
}
.quemRecebe {
    padding: 20px 0px;
}

.receptor {
    display: flex; 
    align-items: center; 
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

.receptor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px; 
}

.receptorNome {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 15px;
}

.receptorNome h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.receptorNome p {
    margin-top: 5px;
    color: #777;
    font-size: 14px;
}

.textoImagem {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.textoReceptor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left; 
    margin-left: 30px; 
}

.divisor3 {
    margin-bottom: 10px;
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 200px;
}

.avaliacaos,
.avaliacoesEstrelas,
.avaliacoesMeses {
    margin-bottom: 10px;
}

.avaliacaos h1,
.avaliacoesEstrelas h1,
.avaliacoesMeses h1 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.avaliacaos p,
.avaliacoesEstrelas p,
.avaliacoesMeses p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.divisor4 {
    margin-bottom: 10px;
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 200px;
}

.quemDescricao{
    padding: 4px 0px;
}

.onde,
.meuTrabalho,
.curiosidade,
.passo,
.tituloBiografia {
    display: flex;
}
.onde a,
.meuTrabalho a,
.curiosidade a,
.passo a,
.tituloBiografia a {
    margin-left: 10px;
    margin-top: 8px;
}
.onde svg,
.meuTrabalho svg,
.curiosidade svg,
.passo svg,
.tituloBiografia svg {
    margin-left: 10px;
    margin-top: 8px;
}

.textoQualquer {
    padding: 10px 0px;
}
.divisor5 {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(159, 159, 159, 0.648);
    height: 1px;
    width: 1200px;
}

.comentariosHeader {
    display: flex;
    align-items: center;
    padding: 0px 300px;
    font-size: 22px;
    margin-bottom: 40px;
}

.comentariosHeader h2 {
    font-size: 25px;
    margin-left: 8px;
}

.comentariosHeader span {
    margin-left: 8px;
}

.comentariosHeader a {
    color: black;
}
.comentarios {
    padding: 0px 300px;
    display: grid; /* Ativando grid layout */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre colunas */
}

.comentario1,
.comentario2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.imagemComentario1,
.imagemComentario2 {
    display: flex;
    align-items: center;
}

.imagemComentario1 img,
.imagemComentario2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nomeLocal1,
.nomeLocal2 {
    padding: 0px 10px;
}

.nomeLocal1 h1,
.nomeLocal2 h1 {
    font-size: 18px;
    margin-top: 5px;
}

.nomeLocal1 a,
.nomeLocal2 a {
    font-size: 15px;
    margin-top: 5px;
}

.data1,
.data2 {
    display: flex;
    margin-top: 5px;
    align-items: center;
}

.data1 svg,
.data2 svg {
    margin-left: 1px;
}

.textoComentario1,
.textoComentario2 {
    padding: 8px 0px;
}

.mostrarTodosButton {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 1200px;
    margin-left: 300px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
footer{
    padding: 0px 300px;
    margin-top: 40px;
    background-color: rgb(214, 214, 214);
    align-items: center;
    border-top: 1px solid rgb(157, 157, 157);
    
}
.airbnbLocal {
    padding: 30px;
    font-size: 15px;
    border-bottom: 1px solid rgb(157, 157, 157);
}
.textoMidias {
    align-items: center;
    justify-content: center;
    padding:10px 10px;
}