* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 400px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 100px;
    height: auto;
}

.pesquisa {
    display: flex;
    align-items: center;
    border: 1px solid #a1a1a1;
    border-radius: 50px;
    padding: 10px 15px;
    background-color: #ffffff;
}
.pesquisa h2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 15px;
    font-weight: normal;
    margin-right: 10px;
    color: #333;
    cursor: pointer;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: #ddd;
    margin: 0 15px;
}

.search-btn {
    background-color: #FF385C;
    border: none;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-btn svg {
    stroke: #fff;
}

.conta {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}